-# coding: UTF-8

%footer.footer
  %hr
  .copyright{:title => "#{Socket.gethostname} - #{ENV['RACK_ENV']} #{ENV['DEPLOYMENT_TAG']}"}
    &copy; 2013 
    %span
      %a{:href => "#", :target => '_blank'} Liu Lantao

  :javascript
    $(document).ready(function() {
          $("#servers").tablesorter({sortList: [[2,1],[3,1]]});
          $("a.colorbox").colorbox({ref: 'cb_servers', fixed: true, overlayClose: true, escKey: true, arrowKey: true, current: 'current', title: function(){ return $(this).attr('title');}});

    });

