-# coding: UTF-8

.hide.fade.modal#posting-modal
  .modal-header
    %button.close{:type => 'button', :'data-dismiss' => 'modal'} x
  .modal-body

  .modal-footer
    %a.btn{:href => '#', :'data-dismiss' => 'modal'} 取消
